/* On définis une couleur pour chaque caserne */

.facility-icon-6 .fa-circle {
    color: #ff0000; /* color for 6 */
}

.facility-icon-31 .fa-circle {
    color: #7f7f7f; /* color for 31 */
}

.facility-icon-34 .fa-circle {
    color: #7f007f; /* color for 34 */
}

.facility-icon-35 .fa-circle {
    color: #ff00ff; /* color for 35 */
}

.facility-icon-36 .fa-circle {
    color: #0000ff; /* color for 36 */
}

.facility-icon-37 .fa-circle {
    color: #00ffff; /* color for 37 */
}

.facility-icon-38 .fa-circle {
    color: #00ff00; /* color for 38 */
}

.facility-icon-39 .fa-circle {
    color: #ffff00; /* color for 39 */
}

.facility-icon-40 .fa-circle {
    color: #ff7f00; /* color for 40 */
}

.facility-icon-3796 .fa-circle {
    color: #7f00ff; /* color for 3796 */
}

.facility-icon-3797 .fa-circle {
    color: #7f0000; /* color for 3797 */
}