* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 20px;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

body {
    font-family: Arial, sans-serif;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
    height: 100vh;
}

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    margin: 20px;
}

nav #logo {
    color: #fff;
    font-size: 1.6rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

nav #menu ul {
    display: flex;
    gap: 30px;
}

nav #menu ul li a {
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease;
}

nav #menu ul li a:hover {
    color: #ff5252;
}

nav #menu ul li {
    list-style: none;
}