/* Styles for vehicle icons */

.vehicle-icon-6  {
    color: #ff0000; /* color for 6 */
}

.vehicle-icon-31  {
    color: #7f7f7f; /* color for 31 */
}

.vehicle-icon-34  {
    color: #7f007f; /* color for 34 */
}

.vehicle-icon-35, .vehicle-icon-3918  {
    color: #ff00ff; /* color for 35 */
}

.vehicle-icon-36  {
    color: #0000ff; /* color for 36 */
}

.vehicle-icon-37  {
    color: #00ffff; /* color for 37 */
}

.vehicle-icon-38  {
    color: #00ff00; /* color for 38 */
}

.vehicle-icon-39  {
    color: #ffff00; /* color for 39 */
}

.vehicle-icon-40  {
    color: #ff7f00; /* color for 40 */
}

.vehicle-icon-3796  {
    color: #7f00ff; /* color for 3796 */
}

.vehicle-icon-3797  {
    color: #7f0000; /* color for 3797 */
}

.fa-location-pin {
    position: relative;
    font-size: 30px; /* adjust as needed */
}

.fa-truck-moving {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px; /* adjust as needed */
    color: #ffffff; /* adjust as needed */
}