<!DOCTYPE html>
<html>
<head>
    <title>Emergency Manager</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/map.css" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="stylesheet" href="../static/css/infos.css" />
</head>
<body>
    <header>
        <nav>
            <h1>Emergency Manager</h1>
            <div id="logo">
                <i class="fa-solid fa-fire-extinguisher fa-l"></i>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="http://localhost:8081/">Accueil</a></li>
                    <li><a href="http://localhost:8081/infos">Infos</a></li>
                    <li><a href="http://localhost:8081/manager">Manager</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
    </main>
    <script src="../static/js/infos.js"></script>
    <script src="https://kit.fontawesome.com/ca19a942ce.js" crossorigin="anonymous"></script>
</body>
</html>